<div class="users-wrapper">
  <%= link_to '<< 戻る', user_path(current_user), class: 'before-page-btn page-link' %>
  <div class="users-form">
    <div class="users-form__title ">
      ユーザー情報編集
    </div>
    
    <%= form_with model: @user, url: user_registration_path, class: 'users-form__main', local: true do |f|%>

      <div class="form-container">
        <%= f.text_field :name, autofocus: true, placeholder: '名前', class: 'input' %>
        <%= f.label :name %>
      </div>
      <div class="form-container">
        <%= f.email_field :email, placeholder: 'メールアドレス', class: 'input' %>
        <%= f.label :email %>
      </div>
      <div class="form-container">
        <%= f.password_field :password, placeholder: '新しいパスワード', class: 'input' %>
        <%= f.label :password %>
      </div>
      <div class="form-container">
        <%= f.password_field :password_confirmation, placeholder: 'もう一度パスワードを入力してください', class: 'input' %>
        <%= f.label :password_confirmation %>
      </div>
      <div class="form-container">
        <%= f.password_field :current_password, placeholder: '現在のパスワード', class: 'input' %>
        <%= f.label :current_password %>
      </div>
      
      <%= f.submit '更新', class: 'submit-btn' %>
    <% end %>
  </div>

  <div class="error-message">
    <%= render partial: 'devise/shared/error_messages', locals: {model: @user} %>
  </div>
</div>