<div class="users-wrapper">
  <div class="users-title ">
    アカウント新規登録
  </div>
  
  <%= form_with model: @user, url: user_registration_path, class: 'users-main', local: true do |f|%>

    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, placeholder: '名前', class: 'input' %>

    <%= f.label :email %>
    <%= f.email_field :email, placeholder: 'メールアドレス', class: 'input' %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: 'パスワード', class: 'input' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: 'もう一度パスワードを入力してください', class: 'input' %>

    <%= f.submit '登録', class: 'submit-btn' %>
  <% end %>

  <div class="sign-in">
    すでにアカウントをお持ちの方は：
    <%= link_to 'ログイン', new_user_session_path, class: 'sign-up-button' %>
  </div>

  <div class="error-message">
    <%= render partial: 'devise/shared/error_messages', locals: {model: @user} %>
  </div>
</div>
