<div class="users-wrapper">
  <%= link_to '<< 戻る', root_path, class: 'before-page-btn page-link', data: { turbo: false } %>
  <div class="users-form">
    <div class="users-form__title">
      ユーザー情報
    </div>
    <table>
      <tbody>
        <tr>
          <th>ユーザー名:</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス:</th>
          <td>
            <% if @user.id == current_user.id %>
              <%= @user.email %>
            <% else %>
              ******
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="user-edit-btn">
      <% if @user.id == current_user.id %>
        <%= link_to 'ユーザー情報を編集する', edit_user_registration_path(current_user.id), class: 'page-link' %>
        <%= link_to 'アカウントを削除', user_path(current_user.id), data: { turbo_confirm: 'アカウントを削除すると、作成したワークスペースや表も削除されます。本当によろしいですか？', turbo: true, turbo_method: :delete }, class: 'danger' %>
      <% end %>
    </div>
  </div>
</div>