<%= vite_javascript_tag 'workspace_show_vue' %>

<%= javascript_tag do %>
  window.workspaceId = <%= @workspace.id.to_json %>;
<% end %>

<div class="workspace-name">
  <%= @workspace.name %><span style="font-size: 20px"> by <%= @workspace.made_by %></span>
</div>
<div class="workspace-main">
  <div id="sheet-list"></div>
  <h2>ワークスペースの情報</h2><br>
  <div class="workspace-detail">
    <div class="workspace-explanation">
      <strong>説明：</strong><br>
      <%= @workspace.explanation %><br><br>
      <%= @workspace.user_role(current_user.id) %><br>
    </div>
    <div id="user-list"></div>
  </div>
</div>
